<!DOCTYPE HTML>
<html>

<header>
    <meta charset="UTF-8">
</header>

<body>
    <div>
        <a href="{% url 'home' %}">HOME</a>
        {% if user.is_authenticated %}
        <a href="{% url 'postings' %}">POSTINGS</a>
        <a href="{% url 'logout' %}">LOGOUT</a>
        <a href="{% url 'user_detail' %}">USERDETAIL</a>
        {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'signup' %}">SIGNUP</a>
        {% endif %}
    </div>
</body>

</html>

{% block contents %}

{% endblock %}